/* card pokémon */
.card-pokemon {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 496px;
  background: var(--color-background-white-default);
  border-radius: var(--radius-default);
  box-shadow: var(--shadow-card);
  overflow: hidden;
  border: 1px solid var(--color-gray-primary-10);
}
.card-pokemon .card--image-id-fav {
  background: var(--color-pokemon-background-grass);
  color: var(--color-white-primary);
  padding: 1.5rem;
}
.card-pokemon .card--image-id-fav .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-pokemon .card--image-id-fav .pokemon-image {
  width: auto;
  height: 128px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-pokemon .card--image-id-fav .pokemon-image img {
  height: 200px;
}
/* ---- content */
.card-pokemon .content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
}
.card-pokemon .content .name-type {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.name-type .pokemon-name .h6 {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-pokemon .content .name-type .pokemon-class {
  display: flex;
  gap: .5rem;
  justify-content: center;
}

.card-pokemon .content .pokemon-skills {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  color: var(--color-gray-primary-80);
}
.card-pokemon .content .pokemon-skills .skill {
  display: flex;
  gap: .5rem;
  align-items: self-end;
}
.card-pokemon .content .pokemon-skills .skill img {
  width: 20px;
  opacity: .8;
}
.card-pokemon .content .pokemon-skills .skill p:nth-child(2) {
  width: 100%;
}


/* bottom sheet pokemon */
.bottom-sheet--card-pokemon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 680px;
  background-color: var(--color-background-white-default);
  box-shadow: var(--shadow-card);
  border-radius: var(--radius-default);
  overflow: hidden;
  padding: 0 2.5rem;
}
.bottom-sheet--card-pokemon .card--image-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 2.5rem;
  background: var(--color-pokemon-background-grass);
  color: var(--color-white-primary);
}
.bottom-sheet--card-pokemon .card--image-content .card-header {
  display: flex;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}
.bottom-sheet--card-pokemon .card--image-content .card-header .action-btn {
  display: flex;
  gap: 1rem;
  z-index: 1;
}
.bottom-sheet--card-pokemon .card--image-content .row-content {
  display: flex;
  align-items: flex-end;
  align-self: stretch;
}
.bottom-sheet--card-pokemon .card--image-content .row-content .name-type {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
  flex: 1 0 0;
}
.bottom-sheet--card-pokemon .card--image-content .row-content .name-type .pokemon-name,
.bottom-sheet--card-pokemon .card--image-content .row-content .name-type .pokemon-class,
.bottom-sheet--card-pokemon .card--image-content .row-content .name-type .pokemon-size {
  display: flex;
  gap: .5rem;
}
.bottom-sheet--card-pokemon .card--image-content .row-content .name-type .pokemon-size {
  margin-top: 1rem;
}
.bottom-sheet--card-pokemon .card--image-content .row-content .image-pokemon {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  align-self: self-end;
  height: 320px;
  width: 50%;
  margin-bottom: -6rem;
}
.bottom-sheet--card-pokemon .card--image-content .row-content .image-pokemon img {
  width: 100%;
}
.bottom-sheet--card-pokemon .content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 2.5rem;
  padding: 2rem 2.5rem;
  color: var(--color-gray-primary-80);
}
.bottom-sheet--card-pokemon .content .skills {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.bottom-sheet--card-pokemon .content-box {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.bottom-sheet--card-pokemon .pokemon-skills {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}


@media (min-width: 200px) and (max-width: 768px) {
  .card-pokemon {
    width: 154px;
    height: auto;
  }
  .card-pokemon .card--image-id-fav {
    color: var(--color-white-primary);
    padding: 1rem;
  }
  .card-pokemon .card--image-id-fav .pokemon-image {
    height: 100px;
  }
  .card-pokemon .card--image-id-fav .pokemon-image img {
    height: 160px;
  }
  /* ---- content */
  .card-pokemon .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
  .name-type .pokemon-name .h6 {
    font-size: 1rem;
  }
  
  .card-pokemon .content .pokemon-skills {
    flex-direction: row;
    gap: .25rem;
    justify-content: space-between;
  }
  .card-pokemon .content .pokemon-skills .skill {
    width: 32px;
    gap: .25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card-pokemon .content .pokemon-skills .skill img {
    width: 20px;
    opacity: .8;
  }
  .card-pokemon .content .pokemon-skills .skill p:nth-child(2) {
    display: none;
  }
}